# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Virtual environment
venv/
.venv/

# Logs
*.log
*.log.bak

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test / generated images
test_images/
